<%- include ("templates/head.ejs") %>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://blog.rockthetraveller.com/wp-content/uploads/2017/11/Los-estadios-de-fútbol-más-increíbles-del-planeta-slider-1200x490.jpg" alt="Costa Radio">
            </div>
        </div>
    </div>

    <h1 class="text-center">Bienvenidos a Costa Radio la radio que te mueve...!</h1>

    <br>

    <div class="container">
    
        <div class="row row-cols-3">
            
            <%- include ("templates/sliderSport.ejs") %>

        </div>
    
    </div>
    

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><h2>final</h2>
<%- include ("templates/footer.ejs") %>