

<% noticias.forEach( function( item ) {  %>
    <div class="tarjeta col border rounded shadow" style="padding: 1em;">
        <a target="_blank" href="/Noticia?idNoticia=<%= item.idNoticia %>">
        <img src="Image/<%= item.Imagen %>" alt="Cinque Terre" style="display:block; margin:auto;" width="100%" height="200">
        </a>
        <div class="card-body">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"><%= item.Title %></font>
            </font>
        </div>
    </div>
<% }); %>